.menu {
    background-color: rgb(57, 57, 57); 
    flex-direction: column;
    height: 100vh; 
    display: flex;
    gap: 2.3rem;
    height: 100%;
    padding: 1rem;   
    border-radius: 0 20px 20px 0;
    flex-shrink: 0;
}

.name-company {
    display: flex;
    margin-bottom: 1rem; /*Separación vértical nombre empresa y menu-list*/
    font-weight: 200;
    color: white;
}

.menu-list {
    width: 100%;
    display: flex;
    white-space: nowrap; 
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    flex: 0 0 auto;        
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.menu-list .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    text-align: left;
    padding: 12px 11px; 
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #F0EAE9;
}


.menu-list .item:hover {
    background: #E3712B;
    color: #F0EAE9;
}