.card {
    display: block;
    padding: 23px;
    max-width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

h2 { /* Estilos counter card */
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Wrapper de iconos */
.cardIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 48px;
    height: 48px;
}

.cardIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}