.menu {
    background-color: rgb(219, 43, 43); 
    flex-direction: column;
    gap: 2.3rem;
    height: 100%;
    padding: 1rem;   
    border-radius: 0 20px 20px 0;
    flex-shrink: 0;
}

.name-company {
    display: flex;
    font-weight: 200;
    color: white;
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-list .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    text-align: left;
    padding: 12px 11px; 
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #F0EAE9;
}


.menu-list .item:hover {
    background: #E3712B;
    color: #F0EAE9;
}