.dashboard {
    display: flex;
    min-height: 100vh;
}

.dashboard-main {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

.dashboard-navbar {
    height: 60px;
    
}

.dashboard-content {
    display: flex;
    padding: 1.16rem;
    margin-top: 12px;
    flex: 1;
}