.dashboard {
    display: flex;
    gap: 20px;
    min-height: 100vh;
}

.dashboard-main {
    margin-left: 250px;
}

.dashboard-content {
    background-color: rgb(57, 57, 57);
    flex: 1;
    border-radius: 20px;
}