.card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 20px;
    border-radius: 14px;
    border: 1px gainsboro solid; /* Borde card */
    background: #fefcf9; /* Color fondo card */
    width: 100%; 
}

.info {
    flex: 1; /* Contenido card crece o decrece proporcionalmente */
}

.name { /* Nombre técnico */
    margin: 0;
    font-size: 18px;
}

.estado {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-flex;
}

/* Estilos para el estado disponible técnico */
.disponible {
    background-color: #d0f6e2;
    color: #1f8f55;
}


/* Estilos para el estado ocupado del técnico */
.ocupado {
    background-color: #dc2626;
    color: #fff;
}

.btnAsignar { /* Botón asignar */
    margin-top: 11px;
    width: 100%;
    padding: 7px 1px; /* 7 alto y 1 largo botón */
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background-color: #fd8828;
    color: #fff;
    font-weight: 580;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Cambiar de color al pasar cursor */
.btnAsignar:hover {
    background-color: #ff7300;
}

/* Deshabilitar botón */
.btnAsignar:disabled {
    background-color: #c7c7c7;
    cursor: not-allowed;
}