.technician-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 20px;
    border-radius: 14px;
    border: 1px gainsboro solid; /* Borde card */
    background: #fefcf9; /* Color fondo card */
    width: 100%; 
}

/* Avatar con inciales */
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #e9eef5; /* Color fondo avatar */
    color: #5b6b82; /* Color letra */
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Info general */
.technician-info {
    flex: 1; /* Contenido card crece o decrece proporcionalmente */
}

.technician-info h4 {
    margin: 0;
    font-size: 18px;
}

.estado {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-flex;
}

/* Estilos para el estado disponible técnico */
.estado.disponible {
    background-color: #daf7e8;
    color: #1f8f55;
}


/* Estilos para el estado ocupado del técnico */
.estado.ocupado {
    background-color: #dc2626;;
    color: #fff;
}

.btn-asignar { /* Botón asignar */
    margin-top: 11px;
    width: 100%;
    padding: 7px 1px; /* 7 alto y 1 largo botón */
    font-size: 17px;
    border-radius: 8px;
    border: none;
    background-color: #fd8828;
    color: #fff;
    font-weight: 580;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Cambiar de color al pasar cursor */
.btn-asignar:hover {
    background-color: #ff7300;
}

/* Deshabilitar botón */
.btn-asignar:disabled {
    background-color: #c7c7c7;
    cursor: not-allowed;
}